@font-face {
  font-family: 'Baloo Bhai Regular';
  src: url('/BalooBhai-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('/Roboto-Regular.woff') format('woff');
}

.header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 120px 20px;
  position: relative;
}

.overlay {
  max-width: 900px;
  margin: auto;
}

.title {
  font-family: 'Baloo Bhai Regular';
  font-size: 48px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 30px;
  font-family: 'Roboto Regular';
}

.searchBox {
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  color: black;
  font-family: 'Roboto Regular';
  text-align: left;
  max-width: 1000px;
  margin: auto;
}

.searchTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.inputField {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 220px;
}

.inputField label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}

.inputField input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.radioButtons {
  display: flex;
  align-items: center;
  gap: 15px;
}


.radioLabel {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}



.searchButton {
  background-color: #ff9800;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.searchButton:hover {
  background-color: #e68900;
}

.radioContainer {
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
  gap: 15px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.searchBox {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  color: black;
  font-family: 'Roboto Regular';
  text-align: left;
  max-width: 900px;
  margin: auto;
}
@media (max-width: 768px) {
  .inputContainer {
    flex-direction: column;
  }

  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 16px;
  }
}


