@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Regular'), url('/Roboto-Regular.woff') format('woff');
  }

.recentSearches {
  text-align: center;
  padding: 40px 20px;
  font-family: 'Roboto Regular';

}

.title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: 'Roboto Regular';

}

.tripsContainer {
  display: flex;
  gap: 80px;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Roboto Regular';

}


.tripCard {
  background: white;
  padding: 20px 100px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  font-family: 'Roboto Regular';

}

.airportCode {
  font-size: 18px;
  font-weight: bold;
  color: #0056b3;
  font-family: 'Roboto Regular';

}

.planeIcon {
  color: #007bff;
}

.departure {
  margin-left: auto;
  font-size: 14px;
  font-family: 'Roboto Regular';

}

.prepareSection {
  text-align:center;
  padding: 40px 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #b0b0b0;
  margin-bottom: 20px;
  
}

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.serviceItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.iconWrapper {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.serviceIcon {
  width: 32px;
  height: 32px;
}

.serviceName {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .servicesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .servicesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {
  .tripsContainer {
    flex-direction: column;
    align-items: center;
  }


  
}
